<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
        <div class="sidebar-brand-icon rotate-n-15">
            <img alt="Logo der Deutschen Digitalen Bibliothek" src="img/ddb-logo.svg" />
        </div>
        <div class="sidebar-brand-text mx-3">Statistics</div>
    </a>
    <!-- Divider -->
    <hr class="sidebar-divider my-0">
    <!-- Heading -->
    <div class="sidebar-heading">Deutsche Digitale Bibliothek</div>
    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
        <a aria-controls="ddb-abschnitt" aria-expanded="true" class="nav-link collapsed" data-target="#ddb-abschnitt" data-toggle="collapse" href="#">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Portal</span>
        </a>
        <div aria-labelledby="ddb-abschnitt" class="collapse" data-parent="#accordionSidebar" id="ddb-abschnitt">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Statistiken:</h6>
                <a class="collapse-item" href="index.html">Übersicht</a>
                <a class="collapse-item" href="ddb-ingests.html">Letzte Updates</a>
            </div>
        </div>
    </li>
    <!-- Nav Item - Utilities Collapse Menu -->
    <li class="nav-item">
        <a aria-controls="dzp-abschnitt" aria-expanded="true" class="nav-link collapsed" data-target="#dzp-abschnitt" data-toggle="collapse" href="#">
            <i class="fas fa-newspaper"></i>
            <span>Zeitungsportal</span>
        </a>
        <div aria-labelledby="dzp-abschnitt" class="collapse" data-parent="#accordionSidebar" id="dzp-abschnitt">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Unterseiten:</h6>
                <a class="collapse-item" href="dzp-start.html">Übersicht</a>
                <a class="collapse-item" href="dzp-titles.html">Zeitungstitelliste</a>
                <a class="collapse-item" href="dzp-title.html">Zeitungstiteldetails</a>
            </div>
        </div>
    </li>
    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">
    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>
</ul>
<!-- End of Sidebar -->
