<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta content="IE=edge" http-equiv="X-UA-Compatible">
        <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
        <meta content="" name="description">
        <meta content="Michael Büchner" name="author">
        <title>DDBstatistics</title>
        <!-- Custom fonts for this template-->
        <link th:href="@{webjars/font-awesome/5.15.4/css/all.min.css}" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
        <!-- Custom styles for this template-->
        <link href="css/sb-admin-2.min.css" rel="stylesheet">
        <!-- Custom styles for this page -->
        <link href="vendor/datatables/datatables.min.css" rel="stylesheet">
    </head>
    <body id="page-top">
        <!-- Page Wrapper -->
        <div id="wrapper">
            <div th:replace="~{fragments/sidebar.html}"></div>
            <!-- Content Wrapper -->
            <div class="d-flex flex-column" id="content-wrapper">
                <!-- Main Content -->
                <div id="content">
                    <!-- Topbar -->
                    <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
                        <!-- Sidebar Toggle (Topbar) -->
                        <button class="btn btn-link d-md-none rounded-circle mr-3" id="sidebarToggleTop">
                            <i class="fa fa-bars"></i>
                        </button>
                    </nav>
                    <!-- End of Topbar -->
                    <!-- Begin Page Content -->
                    <!-- Begin Page Content -->
                    <div class="container-fluid">
                        <!-- Page Heading -->
                        <h1 class="h3 mb-2 text-gray-800">Letzte Updates</h1>
                        <p class="mb-4">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. </p>
                        <!-- DataTable -->
                        <div class="card shadow mb-4">
                            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                <form class="m-0 font-weight-bold text-primary">
                                    <div class="m-0 form-group">
                                        <input type="week" class="form-control" id="woche">
                                    </div>
                                </form>
                                <div class="dropdown no-arrow">
                                    <a aria-expanded="false" aria-haspopup="true" class="dropdown-toggle" data-toggle="dropdown" href="#" id="exportLinks" role="button">
                                        <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                                    </a>
                                    <div aria-labelledby="exportLinks" class="dropdown-menu dropdown-menu-right shadow animated--fade-in">

                                        <div class="dropdown-header">Aktionen</div>
                                        <button class="dropdown-item" id="exportLink-copy">Kopieren</button>
                                        <button class="dropdown-item" id="exportLink-print">Drucken</button>
                                        <button class="dropdown-item" id="exportLink-excel">Excel</button>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <i class="fas fa-circle-notch fa-spin" id="spinner"></i>
                                    <table class="table table-bordered d-none" id="ddb-ingests" width="100%"></table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.container-fluid -->
                </div>
                <!-- End of Main Content -->
                <div th:replace="~{fragments/footer.html}"></div>
            </div>
            <!-- End of Content Wrapper -->
        </div>
        <!-- End of Page Wrapper -->
        <!-- Scroll to Top Button-->
        <a class="scroll-to-top rounded" href="#page-top">
            <i class="fas fa-angle-up"></i>
        </a>
        <!-- Bootstrap core JavaScript-->
        <script th:src="@{webjars/jquery/3.7.1/jquery.min.js}"></script>
        <script th:src="@{webjars/bootstrap/4.6.2/js/bootstrap.min.js}"></script>
        <!-- Core plugin JavaScript-->
        <script th:src="@{webjars/jquery-easing/1.4.1/jquery.easing.min.js}"></script>
        <!-- Custom scripts for all pages-->
        <script src="js/sb-admin-2.min.js"></script>
        <!-- Page level plugins -->
        <script src="vendor/datatables/datatables.min.js"></script>
        <!-- Time Handling in JS -->
        <script th:src="@{webjars/momentjs/2.29.4/moment.js}"></script>
        <!-- Page level custom scripts -->
        <script src="js/ddb-menu.js"></script>
        <script>
            $(document).ready(function () {
                let searchParams = new URLSearchParams(window.location.search);
                if (searchParams.has('cw')) {
                    $('#woche').val(searchParams.get('cw'));
                } else {
                    $('#woche').val(moment().weekYear() + "-W" + moment().week()).trigger("input");
                }
                $.ajax({
                    url: "api/ddb-list-ingests?cw=" + $('#woche').val(),
                    timeout: 0
                }).done(function (data) {
                    $('#spinner').addClass('d-none');
                    $('#ddb-ingests').removeClass('d-none');
                    $("#ddb-ingests").DataTable({
                        "dom": 'B<"row mb-3"<"col-12 col-md-6 pb-2"l><"col-12 col-md-6 pb-2"f>>rt<"row mb-3"<"col-12 col-md-6 pb-2"i><"col-12 col-md-6 pb-2"p>>',
                        "buttons": ['copy', 'print', 'excel'],
                        "processing": true,
                        "pageLength": 10,
                        "fixedHeader": true,
                        "lengthMenu": [Array(10, 100, 500, 1000, 5000, -1), Array(10, 100, 500, 1000, 5000, "Alle")],
                        "language": {
                            url: "vendor/datatables/de-DE.json",
                            // decimal: ","
                        },
                        "data": data,
                        "columns": [{
                                "data": "ingest_id",
                                "title": "Ingest ID",
                                "render": function (data, type, row, meta) {
                                    if (type === 'display') {
                                        data = '<a href="https://www.deutsche-digitale-bibliothek.de/searchresults?query=dataset_id%3A' + data + '" target="_blank">' + data + '</a>';
                                    }
                                    return data;
                                }
                            }, {
                                "data": "dataset_label",
                                "title": "Dataset"
                            }, {
                                "data": "provider_fct",
                                "title": "Datenpartner"
                            }, {
                                "data": "md_format",
                                "title": "Metadatenformat"
                            }, {
                                "data": "numFound",
                                "title": "Objektanzahl"
                            }, {
                                "data": "type_fct",
                                "title": "Medientyp"
                            }, {
                                "data": "sector_fct",
                                "title": "Kultursparte"
                            }],
                        initComplete: function () {
                            $('.dt-buttons').addClass('d-none');
                            $('#exportLink-copy').click(function () {
                                $('.buttons-copy').click();
                            });
                            $('#exportLink-print').click(function () {
                                $('.buttons-print').click();
                            });
                            $('#exportLink-excel').click(function () {
                                $('.buttons-excel').click();
                            });
                        }
                    });
                });
                $('#woche').on('input', function (e) {
                    var url = window.location.href.split('?')[0];
                    var week = $('#woche').val();
                    location.href = url + "?cw=" + week;
                });
            });
        </script>
    </body>
</html>
