<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta content="IE=edge" http-equiv="X-UA-Compatible">
        <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
        <meta content="" name="description">
        <meta content="Michael Büchner" name="author">
        <title>DDBstatistics</title>
        <!-- Custom fonts for this template-->
        <link th:href="@{webjars/font-awesome/5.15.4/css/all.min.css}" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
        <!-- Custom styles for this template-->
        <link href="css/sb-admin-2.min.css" rel="stylesheet">
        <!-- Custom styles for this page -->
        <link href="vendor/datatables/datatables.min.css" rel="stylesheet">
        <!-- Select2 library -->
        <link th:href="@{webjars/select2/4.0.13/css/select2.min.css}" rel="stylesheet">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@ttskch/select2-bootstrap4-theme@x.x.x/dist/select2-bootstrap4.min.css">
    </head>
    <body id="page-top">
        <!-- Page Wrapper -->
        <div id="wrapper">
            <div th:replace="~{fragments/sidebar.html}"></div>
            <!-- Content Wrapper -->
            <div class="d-flex flex-column" id="content-wrapper">
                <!-- Main Content -->
                <div id="content">
                    <!-- Topbar -->
                    <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
                        <!-- Sidebar Toggle (Topbar) -->
                        <button class="btn btn-link d-md-none rounded-circle mr-3" id="sidebarToggleTop">
                            <i class="fa fa-bars"></i>
                        </button>
                    </nav>
                    <!-- End of Topbar -->
                    <!-- Begin Page Content -->
                    <!-- Begin Page Content -->
                    <div class="container-fluid">
                        <!-- Page Heading -->
                        <h1 class="h3 mb-2 text-gray-800">Zeitungstitel</h1>
                        <p class="mb-4">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. </p>

                        <!-- Newspaper title -->
                        <div class="card mb-5">
                            <div class="card-body">
                                <form class="w-100 m-0">
                                    <div class="m-0 form-group">
                                        <select class="form-control" id="titlesSelect" name="titlesSelect" disabled></select>
                                    </div>
                                </form>
                            </div>
                        </div>

                        <!-- Content Row -->
                        <div class="row">
                            <!-- ZPD Number of Newspapers -->
                            <div class="col-xl-3 col-md-6 mb-4">
                                <div class="card border-left-primary shadow h-100 py-2">
                                    <div class="card-body">
                                        <div class="row no-gutters align-items-center">
                                            <div class="col mr-2">
                                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Zeitungstitel</div>
                                                <div class="h5 mb-0 font-weight-bold text-gray-800" id="dzp-number-newspapers">
                                                    <i class="fas fa-circle-notch fa-spin"></i>
                                                </div>
                                            </div>
                                            <div class="col-auto">
                                                <i class="fas fa-heading fa-2x text-gray-300"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- ZPD Number of Issues -->
                            <div class="col-xl-3 col-md-6 mb-4">
                                <div class="card border-left-success shadow h-100 py-2">
                                    <div class="card-body">
                                        <div class="row no-gutters align-items-center">
                                            <div class="col mr-2">
                                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Zeitungsausgaben</div>
                                                <div class="h5 mb-0 font-weight-bold text-gray-800" id="dzp-number-issues">
                                                    <i class="fas fa-circle-notch fa-spin"></i>
                                                </div>
                                            </div>
                                            <div class="col-auto">
                                                <i class="fas fa-newspaper fa-2x text-gray-300"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- ZPD Number of Pages -->
                            <div class="col-xl-3 col-md-6 mb-4">
                                <div class="card border-left-info shadow h-100 py-2">
                                    <div class="card-body">
                                        <div class="row no-gutters align-items-center">
                                            <div class="col mr-2">
                                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Volltextseiten</div>
                                                <div class="h5 mb-0 font-weight-bold text-gray-800" id="dzp-number-pages">
                                                    <i class="fas fa-circle-notch fa-spin"></i>
                                                </div>
                                            </div>
                                            <div class="col-auto">
                                                <i class="fas fa-file fa-2x text-gray-300"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- DataTable -->
                        <div class="card shadow mb-4">
                            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                <h6 class="m-0 font-weight-bold text-primary">Liste der Zeitungsausgaben</h6>
                                <div class="dropdown no-arrow">
                                    <a aria-expanded="false" aria-haspopup="true" class="dropdown-toggle" data-toggle="dropdown" href="#" id="exportLinks" role="button">
                                        <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                                    </a>
                                    <div aria-labelledby="exportLinks" class="dropdown-menu dropdown-menu-right shadow animated--fade-in">

                                        <div class="dropdown-header">Aktionen</div>
                                        <button class="dropdown-item" id="exportLink-copy">Kopieren</button>
                                        <button class="dropdown-item" id="exportLink-print">Drucken</button>
                                        <button class="dropdown-item" id="exportLink-excel">Excel</button>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <i class="fas fa-circle-notch fa-spin" id="spinner"></i>
                                    <table class="table table-bordered d-none" id="dzp-list-issues" width="100%"></table>
                                </div>
                            </div>
                        </div>


                    </div>
                    <!-- /.container-fluid -->
                </div>
                <!-- End of Main Content -->
                <div th:replace="~{fragments/footer.html}"></div>
            </div>
            <!-- End of Content Wrapper -->
        </div>
        <!-- End of Page Wrapper -->
        <!-- Scroll to Top Button-->
        <a class="scroll-to-top rounded" href="#page-top">
            <i class="fas fa-angle-up"></i>
        </a>
        <!-- Bootstrap core JavaScript-->
        <script th:src="@{webjars/jquery/3.7.1/jquery.min.js}"></script>
        <script th:src="@{webjars/bootstrap/4.6.2/js/bootstrap.min.js}"></script>
        <!-- Core plugin JavaScript-->
        <script th:src="@{webjars/jquery-easing/1.4.1/jquery.easing.min.js}"></script>
        <!-- Custom scripts for all pages-->
        <script src="js/sb-admin-2.min.js"></script>
        <!-- Page level plugins -->
        <script src="vendor/datatables/datatables.min.js"></script>
        <!-- Page level custom scripts -->
        <script src="js/ddb-menu.js"></script>
        <!-- Select2 library -->
        <script th:src="@{webjars/select2/4.0.13/js/select2.min.js}"></script>
        <script th:src="@{webjars/select2/4.0.13/js/i18n/de.js}"></script>
        <script>
            $(document).ready(function () {

                let searchParams = new URLSearchParams(window.location.search);

                $.ajax({
                    url: "api/dzp-list-titles",
                    timeout: 0
                }).done(function (data) {
                    var newData = $.map(data, function (obj) {
                        obj.id = obj.zdb_id;
                        obj.text = obj.zdb_id + ": " + obj.paper_title;
                        if (searchParams.has('zdb_id') && obj.zdb_id === searchParams.get('zdb_id')) {
                            obj.selected = true;
                        }
                        return obj;
                    });

                    $("#titlesSelect").select2({
                        data: $.merge([{id: '', text: ''}], newData),
                        language: "de",
                        allowClear: true,
                        placeholder: "Suche"
                    });

                    $("#titlesSelect").select2("val", null);

                    $("#titlesSelect").removeAttr('disabled');
                });

                $.ajax({
                    url: "api/dzp-number-newspapers?zdb_id=" + searchParams.get('zdb_id'),
                    timeout: 0
                }).done(function (data) {
                    $('#dzp-number-newspapers').each(function () {
                        $(this).prop('Counter', 0).animate({
                            Counter: data
                        }, {
                            duration: 1000,
                            easing: 'swing',
                            step: function (now) {
                                $(this).text(Math.ceil(now).toLocaleString());
                            }
                        });
                    });
                });

                $.ajax({
                    url: "api/dzp-number-issues?zdb_id=" + searchParams.get('zdb_id'),
                    timeout: 0
                }).done(function (data) {
                    $('#dzp-number-issues').each(function () {
                        $(this).prop('Counter', 0).animate({
                            Counter: data
                        }, {
                            duration: 1000,
                            easing: 'swing',
                            step: function (now) {
                                $(this).text(Math.ceil(now).toLocaleString());
                            }
                        });
                    });
                });

                $.ajax({
                    url: "api/dzp-number-pages?zdb_id=" + searchParams.get('zdb_id'),
                    timeout: 0
                }).done(function (data) {
                    $('#dzp-number-pages').each(function () {
                        $(this).prop('Counter', 0).animate({
                            Counter: data
                        }, {
                            duration: 1000,
                            easing: 'swing',
                            step: function (now) {
                                $(this).text(Math.ceil(now).toLocaleString());
                            }
                        });
                    });
                });

                $.ajax({
                    url: "api/dzp-list-issues?zdb_id=" + searchParams.get('zdb_id'),
                    timeout: 0
                }).done(function (data) {
                    $('#spinner').addClass('d-none');
                    $('#dzp-list-issues').removeClass('d-none');
                    $("#dzp-list-issues").DataTable({
                        "dom": 'B<"row mb-3"<"col-12 col-md-6 pb-2"l><"col-12 col-md-6 pb-2"f>>rt<"row mb-3"<"col-12 col-md-6 pb-2"i><"col-12 col-md-6 pb-2"p>>',
                        "buttons": ['copy', 'print', 'excel'],
                        "processing": true,
                        "pageLength": 10,
                        "fixedHeader": true,
                        "lengthMenu": [Array(10, 100, 500, 1000, 5000, -1), Array(10, 100, 500, 1000, 5000, "Alle")],
                        "language": {
                            url: "vendor/datatables/de-DE.json",
                            // decimal: ","
                        },
                        "data": data,
                        "columns": [{
                                "data": "publication_date",
                                "title": "Datum der Veröffentlichung"
                            }, {
                                "data": "id",
                                "title": "ZDB-ID",
                                "render": function (data, type, row, meta) {
                                    if (type === 'display') {
                                        data = '<a href="https://www.deutsche-digitale-bibliothek.de/newspaper/item/' + data + '" target="_blank">' + data + '</a>';
                                    }
                                    return data;
                                }
                            }],
                        "columnDefs": [{
                                "width": "20%",
                                "targets": 0
                            }, {
                                "width": "80%",
                                "targets": 1
                            }],
                        initComplete: function () {
                            $('.dt-buttons').addClass('d-none');
                            $('#exportLink-copy').click(function () {
                                $('.buttons-copy').click();
                            });
                            $('#exportLink-print').click(function () {
                                $('.buttons-print').click();
                            });
                            $('#exportLink-excel').click(function () {
                                $('.buttons-excel').click();
                            });
                        }
                    });
                });

                $('#titlesSelect').change(function () {
                    var zdb_id = $(this).val();
                    var url = window.location.href.split('?')[0];
                    if (zdb_id !== null && zdb_id !== '') {
                        location.href = url + "?zdb_id=" + zdb_id;
                    } else if (zdb_id !== null && zdb_id === '') {
                        location.href = url;
                    }
                });
            });
        </script>
    </body>
</html>
